#mw-userfeedback-form {
	background-color: #f3f3ff;
	height: 45px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform .2s;
	margin: 5px 0 5px 0;
	border: 1px solid #a2a9b1;
}

#mw-userfeedback-form span {
	font-size: 12px;
	margin: 5px;
}

#mw-userfeedback-form .thumbs {
	color: transparent;
	margin: 1px;
	font-size: 20px;
	text-shadow: 0 0 0 #a37ced;
}

#mw-userfeedback-form .thumbs:hover {
	text-decoration: none;
	text-shadow: 0 0 0 #794bc4;
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

#mw-userfeedback-form .thumbs-down {
	position: relative;
	margin-top: 10px;
}
