#doc-feedback-form {
	background-color: #f3f3ff;
	height: 55px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform .2s;
}

#doc-feedback-form span {
	font-size: 16px;
	margin: 5px;
}

#doc-feedback-form .thumbs {
	color: transparent;
	margin: 5px;
	font-size: 30px;
	text-shadow: 0 0 0 #a37ced;
}

#doc-feedback-form .thumbs:hover {
	text-decoration: none;
	text-shadow: 0 0 0 #794bc4;
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

#doc-feedback-form #thumbs-down {
	position: relative;
	margin-top: 16px;
}
